* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: rgb(250 249 249);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: rgb(99 102 241);
  border-bottom: solid 2px white;
}

header h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 27px;
  padding-left: 30px;
  color: white;
}

.sec-1 {
  display: flex;
  align-items: center;
  padding-left: 70px;
  padding-top: 50px;
}

.sec-1 img {
  height: 100px;
  padding-right: 20px;
}

.sec-1 h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
  color: rgb(31 41 55);
}

.big-sec {
  display: flex;
  flex-direction: row;
}

.sec-2 {
  padding-left: 200px;
  padding-top: 100px;
}

.question {
  color: rgb(31 41 55);
  font-family: "National Park", sans-serif;
  font-size: 20px;
  padding-bottom: 70px;
}

.question p {
  font-size: 22px;
  width: 500px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

button {
  height: 60px;
  width: 120px;
  margin-bottom: 100px;
  background-color: rgb(99 102 241);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

button:hover {
  background-color: rgb(64 57 190);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;
}

button:active {
  background-color: rgb(161 157 218);
  transition: 0.05s;
}

.sec-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sec-3 img {
  height: 230px;
  width: auto;
  padding-bottom: 100px;
  padding-left: 300px;
}

.score {
  font-size: 50px;
  font-family: "National Park", sans-serif;
  margin-bottom: 100px;
  text-align: center;
  color: rgb(99 102 241);
  background-color: white;
  width: 500px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  box-shadow: 0 -4px 6px -1px rgba(99, 102, 241, 0.1);
  background-color: white;
}

footer a {
  padding-left: 30px;
  color: rgb(78, 80, 186);
  font-family: "National Park", sans-serif;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
