* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(250 249 249);
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 60px;
  background-color: rgb(99 102 241);
  border-bottom: solid 2px white;
}

header h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 27px;
  padding-left: 30px;
  color: white;
}

.sec-1 {
  position: relative;
  display: block;
  margin-bottom: 70px;
}

.sec-1-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.sec-1-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 28px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 16px;
  line-height: 40px;
}

.sec-2 {
  display: flex;
  justify-content: space-around;
}

.sec-2 div {
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.sec-2 a {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: rgb(31 41 55);
  cursor: pointer;
  text-decoration: none;
}

.sec-2 a:hover {
  text-decoration: underline;
  color: rgb(52, 69, 93);
}

.sec-2 h2 {
  font-family: "National Park", sans-serif;
  color: rgb(31 41 55);
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  box-shadow: 0 -4px 6px -1px rgba(99, 102, 241, 0.1);
  background-color: white;
}

footer a {
  padding-left: 30px;
  color: rgb(78, 80, 186);
  font-family: "National Park", sans-serif;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
