* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(250 249 249);
}

header {
  font-size: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  color: rgb(99 102 241);
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  color: rgb(31 41 55);
  font-family: "National Park", sans-serif;
  letter-spacing: -1px;
  font-size: 30px;
  padding-bottom: 30px;
}

h3 {
  color: rgb(31 41 55);
  font-family: "National Park", sans-serif;
  letter-spacing: -1px;
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 20px;
  padding: 20px 30px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(211, 211, 211, 0.4);
}

form input {
  width: 400px;
  height: 30px;
  border: solid 1px rgb(201, 201, 201);
  border-radius: 20px;
  padding-left: 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

form button {
  height: 40px;
  width: 100px;
  font-size: 15px;
  background-color: rgb(99 102 241);
  color: white;
  border: none;
  border-radius: 5px;
}

form button:hover {
  background-color: rgb(64 57 190);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;
}

form button:active {
  background-color: rgb(161 157 218);
  transition: 0.05s;
}

p {
  padding-bottom: 10px;
  font-family: sans-serif;
  color: gray;
  letter-spacing: 2px;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: rgb(99 102 241);
}

footer a {
  padding-right: 30px;
  color: white;
  font-family: "National Park", sans-serif;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

footer a:hover {
  text-decoration: underline;
}
